body {
    font-family: Roboto, sans-serif;
}

h3 {
    margin: 0px;
    padding-bottom: 15px;
}

p {
    margin: 0px;
} 

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 0px 25px 0px 25px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    /* border-color: black;
    border-style: solid; */
    grid-column: 1 / 3;
    align-items: start;    
}

.top-header .left, .top-header .right {
    display: flex;
    align-items: center;

}

.top-header .right .img-placeholder {
    height: 50px;
    width: 50px;
    border-radius: 25px;

}

.searchbar {
    background-color:  #E2E8F0;
    width: 450px;
    height: 25px;
    border-radius: 10px;
}

.bottom-header-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.bottom-header-right >img{
    grid-column: 1/2;
}

.bottom-header-right {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.bottom-header-right>p {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1992D4;
    border-radius: 35px;
    height: 35px;
    width: 80px;
    color: white;
}

.sidebar {
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #1992D4;
    color: white;    
}

.sidebar .bottom-nav {
    margin-top: 80px;
}

ul {
    list-style: none;
    font-weight: 900;
    padding: 0px;
}

li {
    margin-top: 15px;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #E2E8F0;
    padding: 0px 25px 25px 25px;
}

.main-content-left {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    margin-right: 25px;
}

.project {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.main-content-right {
    grid-column: 2 / 3;
}

.right-top{
    background-color: white;
    border-radius: 10px;
}

.right-bottom{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
}

.announcements {
    border-radius: 10px;
    padding: 15px;
}

.trending {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.trending .img-placeholder{
    width: 50px;
    height: 50px;
    border-radius: 25px;    
}
.trending, .announcements {
    font-size: 12px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trending .img-placeholder {
    grid-column: 1 / 2;
    grid-template-rows: 1/3;
}


.img-placeholder {
    background-color: #1992D4;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header-left > .img-placeholder {
    background-color: rgb(255, 208, 0);
}